<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CBT</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/jsp/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/jsp/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/jsp/admin/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserListFetchServlet</servlet-name>
    <servlet-class>servlet.UserListFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListFetchServlet</servlet-name>
    <url-pattern>/jsp/admin/userListFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>servlet.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/jsp/admin/userEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/jsp/admin/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeleteComfirmServlet</servlet-name>
    <servlet-class>servlet.UserDeleteComfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteComfirmServlet</servlet-name>
    <url-pattern>/jsp/admin/userDeleteComfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/jsp/admin/userDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdministratorFetchServlet</servlet-name>
    <servlet-class>servlet.AdministratorFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorFetchServlet</servlet-name>
    <url-pattern>/jsp/admin/goToQuestionRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionRegisterServlet</servlet-name>
    <servlet-class>servlet.QuestionRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionRegisterServlet</servlet-name>
    <url-pattern>/jsp/admin/questionRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionListFetchServlet</servlet-name>
    <servlet-class>servlet.QuestionListFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionListFetchServlet</servlet-name>
    <url-pattern>/jsp/admin/questionListFetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionEditServlet</servlet-name>
    <servlet-class>servlet.QuestionEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionEditServlet</servlet-name>
    <url-pattern>/jsp/admin/questionEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionUpdateServlet</servlet-name>
    <servlet-class>servlet.QuestionUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionUpdateServlet</servlet-name>
    <url-pattern>/jsp/admin/questionUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionDeleteComfirmServlet</servlet-name>
    <servlet-class>servlet.QuestionDeleteComfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionDeleteComfirmServlet</servlet-name>
    <url-pattern>/jsp/admin/questionDeleteComfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionDeleteServlet</servlet-name>
    <servlet-class>servlet.QuestionDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionDeleteServlet</servlet-name>
    <url-pattern>/jsp/admin/questionDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasswordChangeServlet</servlet-name>
    <servlet-class>servlet.PasswordChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordChangeServlet</servlet-name>
    <url-pattern>/jsp/admin/passwordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExamServlet</servlet-name>
    <servlet-class>servlet.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamServlet</servlet-name>
    <url-pattern>/jsp/examinee/exam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/jsp/examinee/score</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminTopTransitionServlet</servlet-name>
    <servlet-class>servlet.AdminTopTransitionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTopTransitionServlet</servlet-name>
    <url-pattern>/jsp/admin/goToAdminTop</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>servlet.UserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/jsp/admin/userSearch</url-pattern>
  </servlet-mapping>
</web-app>